services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    volumes:
      - ./media:/media
    environment:
      - MEDIA_DIR=/media
    networks:
      - netflixnet

  frontend:
    build: ./frontend
    ports:
      - "80:80"
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:4000
    depends_on:
      - backend
    networks:
      - netflixnet

networks:
  netflixnet:
    driver: bridge
